body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.up {
  background-color: #eca8a8;
  padding: 15px;
  border-radius: 4px;
}

.list-a {
  border: 1px dashed #776c6c;
  padding: 10px;
  border-radius: 6px;
  margin-top: 20px;
}

.list-card {
  list-style: none;
  background-color: #fff8f8;
  border: 1px solid #f5c2c2;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 8px;
  text-align: left;
  transition: 0.3s;
}

.list-card:hover {
  background-color: #ffecec;
}

.delete-btn {
  float: right;
  background-color: #ff7b7b;
  color: white;
  border: none;
  padding: 3px 8px;
  font-size: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c0392b;
}
